.wrapper {
    max-width: 1440px;
    height: 100vh;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--Grey-100, #F5F5F6);
    margin: auto;
    position: relative;
}

.logo {
    width: 100%;
    max-width: 179px;
    position: absolute;
    top: 24px;
    left: 24px;
}